global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user_custom }}
  group {{ haproxy_group_custom }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private
  tune.ssl.default-dh-param 2048

defaults
  log global
  mode {{ haproxy_mode_custom }}
  option  httplog
  option http-server-close
{% if haproxy_version == '1.4' %}
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000
{% else %}
  timeout connect 5000
  timeout client 50000
  timeout server 50000
{% endif %}

{% for backend in haproxy_backend_servers %}
backend {{ backend }}
  mode {{ haproxy_backend_mode_custom }}
{% set ip = lookup('dig',backend) %}
  server {{ backend }} {{ ip }}:{{ haproxy_backend_port_custom }} cookie {{ backend }} ssl verify none

{% endfor %}

frontend {{ haproxy_frontend_name_custom }}
  bind {{ haproxy_frontend_bind_address_custom }}:{{ haproxy_frontend_port_custom }} ssl {% for backend in haproxy_backend_servers %} crt {{ backend}}.pem{% endfor %}
  mode {{ haproxy_frontend_mode_custom }}
  option http-server-close
  option forwardfor
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request set-header X-Forwarded-Port %[dst_port]
  redirect scheme https if !{ ssl_fc }
  redirect scheme https code 301 if !{ ssl_fc }
{% for backend in haproxy_backend_servers %}
  acl {{ backend }} hdr(host) -i {{ backend }}
{% endfor %}
{% for backend in haproxy_backend_servers %}
  use_backend {{ backend }} if {{ backend }}
{% endfor %}
